/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0 2px 2px 0 #ddd;
    -moz-box-shadow: 0 2px 2px 0 #ddd;
    box-shadow: 0 2px 2px 0 #ddd;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 5px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
.banner .img-banner{
	display:block;
}
.banner.bannersPrice .img-banner{
	text-align:center;
	top:74px;
	width:100%;
	z-index:2;
}
.banner .s-desc {
	position:relative;
	z-index:3;
	overflow:hidden;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	color:#b2b2b2;
	font-size:28px;
	line-height:normal;
	border:1px solid #dcdcdc;
	padding:49px 0 0 0;
	text-align:center;
	}
.banner.bannersBig .s-desc{
	text-align:left;
	padding:49px 2% 0 35%;
	}
.banner.bannersPrice .s-desc {	
	padding:0;
	}	
.banner.bannersPrice .s-desc h2{	
	font-family: 'Six Caps', sans-serif;
	font-size:50px;
	line-height:50px;
	color:#fff;
	padding:50px 0;	
	}
.banner .s-desc h3{	
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	line-height:35px;
	font-weight:300;
	text-transform:uppercase;
	color:#898989;
	margin-bottom:18px;
	min-height:50px;
	}
.banner.bannersPrice .img-banner img {
		max-width:40%;
	}
.banner.banners .img-banner img {
		max-width:90%;
	}
.banner .s-desc > span{
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	padding:10px 26px 11px 26px;
	background-color:#96d035;
	margin-top:32px;
	}
.banner.banners .s-desc > span{
	float:right;
	position:relative;
	font-size:24px;
	line-height:24px;
	padding:12px 20px 16px 28px;
	font-weight:600;
	white-space: nowrap;
	}
.banner.banners .s-desc > span:before, .banner.banners .s-desc > span:after{
	content:'';
	position:absolute;
	display:block;
	left:-26px;	
	width: 0;
    height: 0;
	border-bottom: 26px solid rgb(150,208,53); 
    border-left: 26px solid rgba(150,208,53,0);
	bottom:0;
	}
.banner.banners .s-desc > span:after{    
	top:0;
    border-top: 26px solid rgb(150,208,53); 
    border-left: 26px solid rgba(150,208,53,0);
	}
.banner.bannersBig .s-desc > span{
	background-color:#fc655e;
	margin-right:54px;
	margin-top:51px;
	margin-bottom:0;
	}
.banner a:hover .s-desc{
	border-color:#ccc;
	}
.banner.bannersPrice .s-desc > span{
	margin-bottom:0;
	padding:9px 24px 10px;
	background-color:#00bff3;
	}	
.banner.bannersBig .s-desc{
	text-align:center;
	}
.banner.bannersPrice a:hover h1{
	color:#fc655e;
	}
.banner.bannersPrice a:hover h3{
	color:#000;
	}
.banner a:hover h3{
	color:#000;
	}

.banner.bannersPrice .s-desc {
	padding-top:25px;
	}
.banner .s-desc h1{
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	line-height:60px;
	color:#84AFC4;
	font-weight:normal;
	margin-bottom:8px;
	text-transform:uppercase;
	}
.banner.bannersPrice .s-desc h1 {
    color: #00BFF3;
    font-family: 'Playfair Display',serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;
    margin: 0;
    text-transform: none;
}
.banner .s-desc h2 {
	color: #313131;
	font-size: 50px;
	line-height:60px;
	font-family:"Agency FB";
	font-weight: 400;
	margin: -108px 0 40px;
	text-transform: none;
}
.banner.bannersBig .s-desc h1{
	display:inline-block;
	float:left;	
	font-family: 'Fjalla One', sans-serif;
	font-size:58px;
	line-height:58px;
	color:#000;
	font-weight:normal;
	margin-bottom:0;
	margin-right:8px;
	text-transform:uppercase;
	}
.banner a:hover h1, .banner.bannersBig a:hover h1{
	color:#FC655E;
	}
.banner a:hover .s-desc > span{
	background-color:#00bff3;
	}
.banner.banners a:hover .s-desc > span:before, .banner.banners a:hover .s-desc > span:after{
	border-bottom: 26px solid rgb(0,191,243); 
    border-left: 26px solid rgba(0,191,243,0);
	border-top: 26px solid rgb(0,191,243); 
	}
.banner.bannersPrice a:hover span{
	background-color:#96d035;
	}
.banner.bannersBig a:hover .s-desc > span{
	background-color:#96d035;
	}

.banner .s-desc p{
	color:#b2b2b2;
	font-family: 'Fjalla One', sans-serif;
	font-size:22px;
	line-height:29px;
	font-weight:normal;
	text-transform:uppercase;
	float:left;
	text-align:left;
	margin-bottom:0;
	}
.banner .s-desc p span{
	color:#464646;
	}
.banner a:hover p{
	color:#000;
	}
.banner a:hover p span{
	color:#00BFF3;
	}
