﻿#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;

	z-index:1;
}
#backgroundPopup1{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;

	z-index:1;
}
#popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:395px;
	width:918px;
	background:url(../images/bg2.png) repeat;
	margin-top:40%;
	padding:12px;
	font-size:12px;
	z-index:1000;
}
/*#popupContact h1{
	text-align:left;
	color:#6FA5FD;
	font-size:22px;
	font-weight:700;
	border-bottom:1px dotted #D3D3D3;
	padding-bottom:2px;
	margin-bottom:20px;
}*/
#popupContactClose{
	font-size:14px;
	line-height:14px;
	right:925px;
	top:400px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	background:url(../images/popupclose2.png) no-repeat;
	width:25px;
	height:25px;
	cursor:pointer;
}
#popupContactClose span{
	margin:0px 0 0 30px; color:#fff;
	font: 14px 'atlanta_demi', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	padding-top:20px;
}
#popupContact_top_heding{
	font-size:14px;
	line-height:14px;
	left:6px;
	top:-20px;
	position:absolute;
	color:#fff;
	font-weight:700;
	display:block;
	width:500px;
	height:33px;
	cursor:pointer;
}
#button{
/*text-align:center;
margin:100px;*/
	background:url(../images/bestall_btn.jpg) no-repeat;
	width:370px;
	height:130px;
	border:none;
	cursor:pointer;
}


#popupContact h1{
	padding:0px;
	
	font: 20px;
	font-family: 'Cantarell', sans-serif;
    /*-webkit-font-smoothing: antialiased*/;
	font-weight:400;
	color:#CCC;
	text-transform:uppercase;
	margin:15px;
	border-bottom:1px #FF0000 solid;
	padding-bottom:10px;
	display:inline-block;
}

#popupContact p{
	padding:0px;
	
	font-size: 13px !important;
	font-family: 'Cantarell', sans-serif;
    /*-webkit-font-smoothing: antialiased*/;
	font-weight:400;
	color:#CCC;
	
	margin: 10px 15px;
	

}
