<!--  footer area -->
<div id="footer">
  
        <div class="footer_condiv">
        <div class="footer_menu">
                <ul>
                    <li>Copyright © Monara IT UK Ltd 2012.</li>
                    
                </ul>
            </div>
            <div align="right" class="footer_pluspro">Powered by <a href="http://www.pluspro.com" class="" target="_blank">+PlusPro</a></div></div>
     </div>
    </div>
     <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
<!-- ends footer area -->
