<div id="search_main_wrapper">


		
			<h2>Social Media Settings</h2>
			

	
</div>


<div style="clear:both;"></div>

<div id="table_main_wrapper">



	<div id="dashboard" style="background-color: #FFF;">


		<form action="" method="post">
			
<div>
<div  id="two">
    
				<p>
                                    
                                    
                                    
                                
                        <h2>Social Web Sites</h2>        
                        <div>
                           
                            <fieldset>
                            
                            <div id="separator">
						<label for="site_email">Facebook Url : </label> <input
							name="txtFacebookUrl" type="text" id="txtFacebookUrl"
							value="<?php print($facebook); ?>" size="64" maxlength="255" tabindex="4" />

					</div>
                                    
                                        <div id="separator">
						<label for="site_email">Twitter Url : </label> <input
							name="txtTwitterUrl" type="text" id="txtTwitterUrl"
							value="<?php print($twitter); ?>" size="64" maxlength="255" tabindex="4" />

					</div>
                                    
                                        <div id="separator">
						<label for="site_email">LinkedIn Url : </label> <input
							name="txtLinkedIn" type="text" id="txtLinkedIn"
							value="<?php print($linkedIn); ?>" size="64" maxlength="255" tabindex="4" />

					</div>
                                    
                                        <div id="separator">
						<label for="site_email">Google Plus : </label> <input
							name="txtGooglePlus" type="text" id="txtGooglePlus"
							value="<?php print($googlePlus); ?>" size="64" maxlength="255" tabindex="4" />

					</div>
                                
                                
                                <div id="separator">
						<label for="site_email">Pinterest : </label> <input
							name="txtPinterest" type="text" id="txtPinterest"
							value="<?php print($pinterest); ?>" size="64" maxlength="255" tabindex="4" />

					</div>
                                    
                                        <div id="separator">
						<label for="site_email">Other : </label> <input
							name="txtOther" type="text" id="txtOther"
							value="<?php print($other); ?>" size="64" maxlength="255" tabindex="4" />

					</div>
                            
                            
                            </fieldset>
                        
                        
                        </div>   
                                
        
                                    
</div>
					  <input class="testbutton"  id="testbutton" type="submit" value="submit" name="Submit"  onClick="sendRequest()"/> 
                                          <input type="hidden" name="txtId" id="txtId" value="<?php print($id);?>" />
  <input id="resetbutton" type="reset"  />
<div style="clear:both;margin-top:10px;"></div>
				</p>
				<div id="show"></div>
		</div>
		</form>

	</div>


</div>