<script type="text/javascript">
	
    $(document).ready(function(){
		
        //Display Loading Image
        function Display_Load()
        {
            $("#manageloading").fadeIn(900,0);
            $("#manageloading").html("<img src='<?php print(ADMIN_BASE_URL); ?>templates/contents/images/bigLoader.gif' />");
            
            $("#manageloading2").fadeIn(900,0);
            $("#manageloading2").html("<img src='<?php print(ADMIN_BASE_URL); ?>templates/contents/images/bigLoader.gif' />");
        }
        //Hide Loading Image
        function Hide_Load()
        {
            $("#manageloading").fadeOut('slow');
            $("#manageloading2").fadeOut('slow');
        };
	
        //Default Starting Page Results
   
        $("#pagination li:first").css({'color' : '#FF0084'}).css({'border' : 'none'});
	
        Display_Load();
	
        $("#managecontent").load("<?php print(ADMIN_BASE_URL); ?>modules/testimonial/includes/featured_data.php?q=<?php print($_SEARCH_QUERY); ?>&orderby=<?php print($ORDER_BY); ?>&order=<?php print($ORDER); ?>&rows=<?php print($_REC_PER_PAGE); ?>&m=testimonial", Hide_Load());
        $("#managecontent2").load("<?php print(ADMIN_BASE_URL); ?>modules/testimonial/includes/non_featured_data.php?q=<?php print($_SEARCH_QUERY); ?>&orderby=<?php print($ORDER_BY); ?>&order=<?php print($ORDER); ?>&rows=<?php print($_REC_PER_PAGE); ?>&m=testimonial", Hide_Load());

        //Pagination Click
        $("#pagination li").click(function(){
			
            Display_Load();
		
            //CSS Styles
            $("#pagination li")
            .css({'border' : 'solid #dddddd 1px'})
            .css({'color' : '#0063DC'});
		
            $(this)
            .css({'color' : '#FF0084'})
            .css({'border' : 'none'});

            //Loading Data
            var pageNum = this.id;
		
            $("#managecontent").load("<?php print(ADMIN_BASE_URL); ?>modules/testimonial/includes/featured_data.php?page=" + pageNum+"&m=testimonial", Hide_Load());
            $("#managecontent2").load("<?php print(ADMIN_BASE_URL); ?>modules/testimonial/includes/non_featured_data.php?page=" + pageNum+"&m=testimonial", Hide_Load());
        });

    });
</script>



<div id="search_main_wrapper">
    <h2>Featured Testimonials</h2>     
</div>

<div id="table_main_wrapper">
    <div class="table_wrapper2" id="side_panel_box_5_content">
        <div id="dashboard"></div>
    </div>

    <div class="table_wrapper2" id="side_panel_box_5_content">


        <div id="dashboard">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="center" height="50px;">
                            &nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td align="center">

                        </td>
                    </tr>

                    <tr>
                        <td align="center">

                        </td>
                    </tr>

                    <tr>
                        <td align="center">




                            <div id="manageloading" ></div>
                            <div id="managecontent" ></div>




                        </td>
                    </tr>

                    <tr>
                        <td align="center">



                        </td>
                    </tr>

                </tbody></table>
        </div>





        *****************************************************************************************************************************************************************
        <div id="dashboard">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td align="center" height="50px;">
                            &nbsp;
                        </td>
                    </tr>

                    <tr>
                        <td align="center">

                        </td>
                    </tr>

                    <tr>
                        <td align="center">
                        </td>
                    </tr>

                    <tr>
                        <td align="center">




                            <div id="manageloading2" ></div>
                            <div id="managecontent2" ></div>




                        </td>
                    </tr>

                    <tr>
                        <td align="center">


                        </td>
                    </tr>

                </tbody></table>
        </div>
    </div>
    <div style="height:10px;"></div>
</div>