<div id="search_main_wrapper">
          <h2>Dashboard +PlusProAdmin V4</h2>
             
                </div>
     
<div style="clear:both;"></div>
       	  
       	  <div id="table_main_wrapper">
       	  <div class="table_wrapper2" id="side_panel_box_5_content">
          	<div id="dashboard">



        <div id="top_left">  <img src="<?php print(GLOBAL_ADMIN_CONTENT_PATH);?>images/swf_stats.png" height="272" width="410"></div>
                <div id="top_right"> <img src="<?php print(GLOBAL_ADMIN_CONTENT_PATH);?>images/graphs.jpg" alt="" height="272" width="410"></div>


    <div style="clear:both;"></div>
       	          

<div><img src="<?php print(GLOBAL_ADMIN_CONTENT_PATH);?>images/gra.jpg" alt="" height="222" width="664"></div>


			</div>
		  </div>
           <div style="height:10px;"></div>
</div>
