       <div id="containerHolder">
			<div id="container">


<div id="sidebar">
                	<ul id="sideNav">
      
                            <li><span class="parent">Manage Modules</span>
                        	
                             <ul>
                            	
                                <li><a href="<?php print(ADMIN_BASE_URL);?>sadmin/modules.html">Manage Modules</a></li>
                           
                          </ul>

                           <li><span class="parent">Site Settings</span>
                        	
                             <ul>
                            	
                                <li><a href="<?php print(ADMIN_BASE_URL);?>sadmin/settings.html">Configuration</a></li>
                                <li><a href="<?php print(ADMIN_BASE_URL);?>site-contacts.html">Contact Details</a></li>
                               <li><a href="<?php print(ADMIN_BASE_URL);?>sadmin/users.html">User Admin</a></li>
                                <li><a href="<?php print(ADMIN_BASE_URL);?>sadmin/changepassword.html">Change Pass </a></li>
                          </ul>
                        </li>


                    </ul>
                    <!-- // #sideNav -->
</div>   

                <!-- // #sidebar -->




	
	
