<?php if($_SESSION['SUPER_ADMIN_SESS_IS_ADMIN'] == 2){?>
<div id="search_main_wrapper">

            <h2>Manage Modules</h2>     
</div>
          
          <div id="table_main_wrapper">
       	  <div class="table_wrapper2" id="side_panel_box_5_content">
          	<div id="dashboard"></div>
          </div>
        
          <div class="table_wrapper2" id="side_panel_box_5_content">
          		<div id="dashboard">
<form name="form1" id="form1" method="post" action="">   
          	<table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody><tr>
                <td align="center">
                
                
                
                <div id="tablecontents"> 
                    
                    
                    
                   <table id="users">
                   <thead> 
		    <tr height="12px">
                     <td width="20"><input type="checkbox" name="checkAllMyCB" id="checkAllMyCB" class="checkAll"></td>
		     <td  width="188">Module Name</td>
                    <td  width="188">Module Links</td>
                    <td width="305">Current Status</td>
                  </tr>
        </thead> 

        <tbody> 
	
        </tbody>
        

        <?php foreach($modules As $mIndex=>$module){

            $subModules = $module->subModules;

        ?>
         <tr height="12px" <?php if($mIndex%2 == 0){?> class="odd" <?php } ?> id="<?php print($module->id); ?>">
             <td><input type="checkbox" name="chkModule[]" id="m_<?php print($module->id);?>" value="<?php print($module->id);?>"  <?php if($module->isEnabled == 'Yes'){?> checked="checked"  <?php } ?> class="checkModule" /></td>
	    <td><?php print($module->moduleLabel); ?></td>
            <td>&nbsp;</td>
            <td>
                <?php if($module->isEnabled == 'Yes'){?>
                    Enabled
                <?php } else {?>
                   Disabled
                <?php } ?>
            </td>
         </tr>
         
         <?php foreach($subModules As $smIndex=>$subModule){?>
         
          <tr height="12px" <?php if($smIndex%2 == 0){?> class="odd" <?php } ?> id="<?php print($subModule->id); ?>">
             <td><input type="checkbox" name="chkModuleLink[]" class="m_<?php print($module->id);?>" value="<?php print($subModule->id);?>" <?php if($subModule->isEnabled == 'Yes'){?> checked="checked"  <?php } ?>  /></td>
	    <td>&nbsp;</td>
            <td><?php print($subModule->moduleLinkLabel); ?></td>
            <td>
                
                <?php if($subModule->isEnabled == 'Yes'){?>
                    Enabled
                <?php } else {?>
                   Disabled
                <?php } ?>
                
            
            </td>
         </tr>

         <?php } ?>
         
        <?php } ?>

          
		
	</table>
                
            
                
                
                
                </div>
        

<div style="margin-top:45px;"><a href="javascript:submitform();" id="testbutton">Update Status</a></div>
                
                <div style="clear:both;"></div>
                    
                  
	
                
                </td>
              </tr>
            </tbody></table>
  </form>  
			</div>
		  </div>
           <div style="height:10px;"></div>
</div>
<?php } else {?>
<div id="search_main_wrapper">

            <h2>You are not authorized to view this page</h2>     
</div>

<div id="table_main_wrapper" style="margin-top:45px;">
          <div class="table_wrapper2" id="side_panel_box_5_content">
          		<div id="dashboard">
          	Please contact the administrator for more help. 
			</div>
		  </div>
           <div style="height:10px;"></div>
</div>
<?php } ?>

<script type="text/javascript">
function submitform()
{
  document.form1.submit();
}
</script>

            
          