

<script type="text/javascript">
    $(document).ready(function() {
        $("#payment_id").live('change', function() {
        	val = $(this).val(); 
            if(val == '')
            {
            	 $("#posts_container").load('<?php print(ADMIN_BASE_URL); ?>templates/tpl/excluded/' + "cart_contents.php?paymentid="  + $(this).val());   
            	 $("#testbutton").hide("");
             	$("#resetbutton").hide(""); 
            }
            else{
        	
            $("#posts_container").load('<?php print(ADMIN_BASE_URL); ?>templates/tpl/excluded/' + "cart_contents.php?paymentid="  + $(this).val());
            $("#testbutton").show("");
        	$("#resetbutton").show("");
            }
        });
    });
</script>

<div id="table_main_wrapper">

<div id="search_main_wrapper"  style="margin-bottom:55px;">
            <h2>Exclude Payment Methods</h2>    
            <?php //print_r($paymentNames);?> 
</div>
<?php //print_r($excludedCountryInfo);?>
    <div id="dashboard" style="background-color: #FFF;">

            <form name="form1" id="form1" action="" method="post">
            
                     <div id="two">
                         <fieldset style="margin-top: 20px;">
                  
                      <div id="separator">
                        <label for="pagename">Payment Method: </label>

                        <select name="payment_id" id="payment_id" style="width: 200px;">
                            <option value="">--Select--</option>
                            <?php  if(count($paymentNames) >0){
                            foreach($paymentNames As $rowIndex=>$paymentName) {?> 
                            <option value="<?php print($paymentName->id);?>"><?php print($paymentName->displayName);?></option>
                           <?php }}?>
                            
                        </select>
                    </div>
                    
                    <div id="posts_container">
                    <!-- Country list load here -->
                 </div>
                    
                  
                   
                </fieldset>
                     </div>
                <p>
					<input type="hidden" name="txtAction" id="txtAction" value="<?php if($action ==''){echo "add";}else{ print($action);}?>"/>
                    <input id="testbutton" type="submit" value="submit" name="Submit" style="display:none;" /> 
                   
                    </p>

            </form>



   

</div>



</div>



