<div id="search_main_wrapper"  style="margin-bottom:55px;">
            <h2>Add/Edit User</h2>     
</div>


<div id="table_main_wrapper">



    <div id="dashboard" style="background-color: #FFF;">

        <form action="" method="post">
            <div id="two">
                <fieldset>

                    <div id="separator">
                        <label for="site_name">First Name : </label>
                        <input name="txtFirstName" type="text" id="txtFirstName" value="<?php print($firstname); ?>" size="25" maxlength="50" />
                    </div>
                    <div id="separator">
                        <label for="site_url">Last Name: </label>
                        <input name="txtLastName" type="text" id="txtLastName" value="<?php print($lastname); ?>"  size="25" maxlength="50" />
                    </div>

                    <div id="separator">
                        <label for="site_url">Email : </label>
                        <input name="txtEmail" type="text" id="txtEmail" value="<?php print($login); ?>" size="25" maxlength="50" />

                    </div>

                    <div id="separator">
                        <label for="site_url">Password:</label>
                        <input name="password" type="password" id="password" size="25" maxlength="50" />
                    </div>
                    <div id="separator">
                        <label for="site_url">Repeat Password:</label>
                        <input name="cpassword" type="password" id="cpassword" size="25" maxlength="50" />
                    </div>

                    <div id="separator">
                        <label for="sidebox">Is Admin </label>

                        <select name="cmbIsAdmin"  id="cmbIsAdmin" >
                            <option  value=""></option>
                            <option value="1" <?php if ($isadmin == '1') { ?> selected="selected" <?php } ?>>Yes</option>
                            <option value="0" <?php if ($isadmin == '0') { ?> selected="selected" <?php } ?>>No</option>
                        </select>
                    </div>
                </fieldset>
                
            </div>
            <p>
                    <input type="hidden" name="txtId" id="txtId" value="<?php print($member_id); ?>" />
                    <input type="hidden" name="txtAction" id="txtAction" value="<?php print($action); ?>" />
                    <input type="submit" name="Submit" value="submit" class="testbutton" id="testbutton">
                    <input type="reset" id="resetbutton">
                </p>
                <div id="show"></div>
        </form>


    </div>

</div>
