@charset "UTF-8";
/* CSS Document */



body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 1024px;
	margin: 0 auto;
}


#table_main_wrapper {
 
  
}


#dashboard {
    padding-bottom: 23px;
    width: 100%;
	margin-top: -30px;
}
/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
	    width: 1021px;
}


#container {
    background: url("../img/content.gif") repeat-y scroll left top #FFFFFF;
    border: 1px solid #DDDDDD;
    min-height: 700px;
    width: 1021px;
}


/****************search box*********************/
#search_main_wrapper {
	width:100%;
	
	margin:auto;

	
}


#search_main_wrapper h2 {
    border-bottom: 1px solid #EBEBEB;
    color: #FE6402;
    font-size: 24px;
    font-weight: 400;
    margin: 0 8px 12px;
    padding: 20px 0 3px;
}


#top_menu_wrapper {
	 width: 1021px;
	 margin-top:10px;
	 PADDING-bottom:20px;
}
	
#top_menu_wrapper .logo_div{
	 width: 232px;
	 height:63px;
	 float:left;
	 
}
#top_menu_wrapper .welcome_div {
    color: #FE6402;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-left: 0;
    margin-top: 25px;
    text-align: center;
    width: 500px;
}	
#top_menu_wrapper .logo_div{
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    text-align: right;
    width: 240px;
}

.logout_div {
		background: url(../img/logout.png) no-repeat left top; 
	
	
}


#top_menu_wrapper .logout_div a {
	 font-family:Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:#FE6402;
	 text-align:right;
	 font-style:italic;
	 text-decoration:none;
	 height:32px;
	 line-height:32px;
	 vertical-align:middle; 
}
.logout_div a:hover {

	 color:#333;
	
}

/* Main Navigation ---------------------------------------- */

#topmainNav {
	width: 1020px;
	height: 37px;
	padding: 6px;
	margin: 0 0 30px 0;
	background: url(../img/top-menu-bg.gif) no-repeat left top; 
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#topmainNav ul {
	list-style:none;
}

#topmainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
		list-style:none;
}

#topmainNav li a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
}

#top_left {
	width:410px;
	float:left;
	margin-top:40px;
}

#top_right {
	width:410px;
	float:right;
	margin-right:10px;
		margin-top:40px;
}

#topmainNav li.logout {
	float: right;
	border-left: 1px solid #ddd;
	border-right: none;
}
#topmainNav li.logout a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding-left:10px  !important ;
        padding-right:10px  !important ;
        font-size: 14px;
}
#topmainNav li.logout a:hover {
	background-color: transparent;
}

#topmainNav li a:hover { background: #fdfcf6; }

#topmainNav li a.active, #topmainNav li a.active {
	background: #f0f0f0 url(../img/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}



#company_title {
    background: url("../img/admin-logo.png") repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    height: 63px;
    width: 232px;
}


/* Sidebar ---------------------------------------- */

#sidebar {
	width: 179px;
	float: left;
	font-size:14px;
}

#sideNav li ul {
    display: none;
	 margin-left: -40px;
}



#sidebar #sideNav { width: 179px; 
 margin-left: -40px;
}

#sidebar #sideNav li { border-top: 1px solid #ddd; width: 179px; list-style:none;
 }

#sidebar #sideNav li a {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #646464;
    display: block;
    height: 33px;
    line-height: 33px;
    padding: 0 4px;
    text-decoration: none;
    width: 170px;
}

.parent {

	color: #FE6402;
	background:url(../img/plus.gif) left no-repeat;
	padding-left:20px;
		font-size:16px;
	
	
	
	
}

#sidebar #sideNav li a:hover { background: #fdfcf6; }

#sidebar #sideNav li a.active, #sidebar #sideNav li a.active:hover {
	background: #f0f7fa;
	color: #c66653;
}

.myButton {
	width:200px;
	border:1px solid #dcdcdc;
	float:left;
	clear:both;
}
.mySmallButton {
	width:40px;

}


.myButton, .mySmallButton {
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
		border:1px solid #dcdcdc;
	color:#000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.myButton:link , .mySmallButton: link{
	position:relative;
	top:1px;
	color:#000;
}

.myButton:hover, .mySmallButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#testbutton, #testbutton a:visited {  
display:block;  
background: url(../img/simple_button.png) repeat-x;  
width: 200px;  
padding:10px 0;  
text-align:center;  
border:1px solid #608925;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
cursor:pointer;
margin-left:7px;
} 

#testbutton a:active {  
background-position:  0 -200px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 

#testbutton, #testbutton a:visited {  
display:block;  
background: url(../img/simple_button.png) repeat-x;  
width: 200px;  
padding:10px 0;  
text-align:center;  
border:1px solid #608925;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
}  
  
#testbutton a:hover {  
border-color:#49671d;  
}  
  
#testbutton a:active {  
background-position:  0 -200px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 


#testbutton_sm, #testbutton_sm a:visited {  
display:block;  
background: url(../img/simple_button.png) repeat-x;  
width: 200px;  
padding:10px 0;  
text-align:center;  
border:1px solid #608925;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
cursor:pointer;
margin-left:7px;
position:absolute;
left:120px;
} 

#testbutton_sm a:active {  
background-position:  0 -200px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 

#testbutton_sm, #testbutton_sm a:visited {  
display:block;  
background: url(../img/simple_button.png) repeat-x;  
width: 80px;  
padding:10px 0;  
text-align:center;  
border:1px solid #608925;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
}  
  
#testbutton_sm a:hover {  
border-color:#49671d;  
}  
  
#testbutton_sm a:active {  
background-position:  0 -200px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 

#resetbutton, #resetbutton a:visited {  
display:block;  
background: url(../img/simple_button.png) repeat-x;  
width: 100px;  
padding:10px 0;  
text-align:center;  
border:1px solid #733737;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
margin-left:20px;
cursor:pointer;
} 

#resetbutton a:active {  
background-position:  0 -100px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 

#resetbutton, #resetbutton a:visited {  
display:block;  
background: url(../img/reset_button.png) repeat-x;  
width: 100px;  
padding:10px 0;  
text-align:center;  
border:1px solid #733737;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
}  
  
#resetbutton a:hover {  
border-color:#49671d;  
}  
  
#resetbutton a:active {  
background-position:  0 -200px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 

#resetbutton_sm, #resetbutton_sm a:visited {  
display:block;  
background: url(../img/simple_button.png) repeat-x;  
width: 80px;  
padding:10px 0;  
text-align:center;  
border:1px solid #733737;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
margin-left:20px;
cursor:pointer;
position:absolute;
right:140px;
} 

#resetbutton_sm a:active {  
background-position:  0 -100px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 

#resetbutton_sm, #resetbutton_sm a:visited {  
display:block;  
background: url(../img/reset_button.png) repeat-x;  
width: 80px;  
padding:10px 0;  
text-align:center;  
border:1px solid #733737;  
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
font-weight:bold;  
text-transform:uppercase;  
border-radius: 5px;  
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
color:#FFF;  
text-decoration: none;  
opacity:.85;  
float:left;
}  
  
#resetbutton_sm a:hover {  
border-color:#49671d;  
}  
  
#resetbutton_sm a:active {  
background-position:  0 -200px;  
padding:11px 0 9px;  
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
} 



#namelist li {
    background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
    border: 1px solid #DCDCDC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #777777;
    cursor: move;
    display: inline;
    float: left;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    height: 50px;
    list-style-type: none;
    margin-bottom: 15px;
    margin-right: 10px;
    padding: 6px 4px;
    text-align: center;
    text-decoration: none;
	
}

#footer {
    border-top: 1px solid #EBEBEB;
    color: #333333;
    height: 40px;
    margin: 0 auto;
    width: 1021px;
}
#footer .footer_condiv {
    
    color: #333;
    height: 40px;
  
	margin:auto;
}
#footer .footer_condiv .footer_menu{
	width:500px;
	float:left;
}

#footer .footer_condiv .footer_menu ul{
	margin:5px 0 0 0px;
	padding:0px;
}
#footer .footer_condiv .footer_menu ul li{
	list-style:none;
	margin:10px 10px 0 10px;	
	float:left;
}
#footer .footer_condiv .footer_menu ul li a{
	list-style:none;
	margin:0px 0 0 0px;
	color:#333;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:11px;	
	text-decoration:none;
	text-transform:uppercase;
}

#footer .footer_condiv .footer_pluspro {
	list-style:none;
	margin:15px 10px 0 0px;
	color:#333;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:12px;	
	text-decoration:none;
	float:right;
	text-transform:uppercase;
}
#footer .footer_condiv .footer_pluspro a{
	color:#333;
	font-family:Helvetica, Arial,  sans-serif;
	font-size:11px;	
	text-decoration:none;
}


.en {
	background:url(../img/uk.png) right no-repeat;
	padding-right:25px;
}


.fr {
	background:url(../img/fr.png) right no-repeat;
	padding-right:25px;
}

.de {
	background:url(../img/de.png) right no-repeat;
	padding-right:25px;
}

.es {
	background:url(../img/es.png) right no-repeat;
	padding-right:25px;
}

.en2 {
	background:url(../img/uk.png) left no-repeat;
	padding-right:25px;
}


.fr2 {
	background:url(../img/fr.png) left no-repeat;
	padding-right:25px;
}

.de2 {
	background:url(../img/de.png) left no-repeat;
	padding-right:25px;
}

.es2 {
	background:url(../img/es.png) left no-repeat;
	padding-right:25px;
}