#testbutton, #testbutton a:visited 
{
	margin-left: 610px;
}

.etpl{
	margin-top: 40px;
	margin-right: 10px;
    margin-top: 40px;
}

.btnleft{
	margin-left: 0px !important;
	margin-right: 10px;
}
.pright{
	  margin-left: 390px;
}


label.error{
	 color: #E71A1A !important; float: none; display:inline-block 
}